<div>
  <%= form.label :username, 'Username' %>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label :photo, 'Link to photo' %>
  <%= form.text_field :photo %>
</div>
<div>
  <%= form.label :bio, 'Biography' %>
  <%= form.text_area :bio, size: "20x10" %>
</div>
<%= form.submit %>