<div class="user_profile">
    <div class="photo_container">
        <%= image_tag 'user-avatar.png',
            alt: 'user',
            class: 'photo' %>
    </div>
    <div class="info_container">        
        <p class="name_container"><%= @user.name%></p>  
        <p class="posts_counter">Numer of posts: <%= @user.post_counter %></p>           
    </div>    
</div>
<div class="bio_cnt">
    <h2 class="bio_title">Bio</h2>
    <p><%= @user.bio%></p>
</div>
<ul class="posts_container">
<% @posts.includes([:comments]).each do |post| %> 
    <%= link_to :action => 'show', :id => post.id do %>
        <li class="post_list">
            <h2 class="bio_title"><%= post.title %></h2>
            <p><%= post.text %></p>
            <div class="counter_container">
                <p>Comments: <%= post.comments_counter %></p>
                <p>Likes: <%= post.likes_counter %></p>
            </div>
            <div class="comments_container">
                <ul> 
                <h2 class="bio_title">Comments: </h2>
                    <% post.returns_five_most_recent_comments.each do |c| %>
                    <li><p><%= c.text %></p></li>
                     <% end %>
                </ul>
            </div>         
        </li>
    <% end %>         
<% end %> 
</ul>
<%= button_to "Go back", user_path(@user.id), :method => :get, class:"button" %>