<div class="post_index_main_div">
  <div class="post_index_li">
    <h3><%= @post.title %> by <%= @user.name.capitalize %></h3>
    <p><%= @post.text %></p>
    <div class="post_index_li_counters">
      <p class="post_index_li_comments">Comments: <span><%= @post.comments_counter %></span></p>  
      <p class="post_index_li_likes">Likes: <span><%= @post.likes_counter %></span></p>
    </div>
    <%= button_to 'Like', "/users/#{params[:user]}/posts/#{params[:id]}/create_like", method: :post %>
  </div>
  <div>
    <ul>
      <li class="post_index_comment">
        <% @post.comments.each do |comment| %>
          <p><%= comment.user.name.capitalize %>: <%= comment.text %></p>
        <% end %>
      </li>
    </ul>
    <%= form_with model: @comment do |form| %>
      <div class="new_comment">
        <%= form.label :text, 'New Comment:' %>
        <%= form.text_area :text, size: '15x5' %>
      </div>
      <%= form.submit %>
    <% end %>
  </div>
</div>