<ul class="posts_container">
    <li class="post_list">
        <div class="post_show_info">
            <h2 ><%= @post.title %></h2>
            <p class="post_author">Post by: <%= @user.name%></p> 
        </div> 
        <p><%= @post.text %></p>
        <div class="counter_container">            
            <p>Comments: <%= @post.comments_counter %></p>
            <p>Likes: <%= @post.likes_counter %></p>
        </div>                
    </li> 
    <%= button_to 'Like', like_path(user_id: @user.id, post_id: @post.id), method: "put", class: 'like_btn button' %>
    <div class="comments_container">
        <ul>
            <h2 class="bio_title">Comments: </h2>
            <% @post.comments.all.each do |c| %>
                <li><p><%= c.text %></p></li>
            <% end %>
        </ul>
    </div>
    <div class="form_cnt">
        <h2>Add a comment: </h2>
        <%= form_with model: [@user, @post, @post.comments.build] do |form| %>            
            <%= form.text_field :text %>
            <%= form.submit %>
        <% end %>
        <% flash.each do |type, msg| %>
            <% if type == 'notice' %>
                <div class="notice">
                <%= msg %>
                </div>
            <% end %>
            <% if type == 'error' %>
                <div class="notice">
                <%= msg %>
                </div>
            <% end %>
         <% end %>
    </div>
</ul>