<div id='user_post'>
	<div class='content'>
		<div class='top'>
			<h3><%= @post.title %> by <%= @user.name %></h3>
				<div class='comments_and_likes'>
					<p>Comments: <%= @post.comments_count %></p>
					<p class='thumbs_up'>
						<%= link_to "/users/#{@user.id}/posts/#{@post.id}/likes", method: :post do %>
						<i class='fa fa-thumbs-up'></i>
						<% end %>
						Likes:
						<%= @post.likes_count %>
					</p>
				</div>
		</div>
		<p><%= @post.text %></p>
	</div>

	<div class='users_comments'>
		<% @post.comments.each do |comment| %>
			<p>Username: <%= comment.text %></p>
		<%end%>
	</div>

<<<<<<< HEAD
	<div class='comment_flash_error'>
  	<%= flash[:error] %>
	</div>

	<div class='comment_flash'>
  	<%= flash[:success] %>
	</div>

=======
>>>>>>> d1e3747a0516858e8857cb99d26adfeb8218ac8d
	<%= render 'comments/form'%>
</div>